.main{
    padding-top: 15%;
    width: 100%;
}

.text {
    background-color: #ffffff;
    color: #000000;
}

.followbtn {
    background-color: rgba(48, 50, 55, 1);
    color: #ffffff;
    border-radius: 8px;
    padding: 5px 20px;
}

.profile {
    display: flex;
    flex-direction: row;
    padding: 20px;
    width: 100%;
}

.align {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
}

.col{
    display: flex;
    flex-direction: column;
}

.profile1 {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-right: 20%;
}

.name {
    margin-left: 10px;
}

.tick{ 
    color: #ffffff;
    border-radius: 5px;
    padding: 20px;
}

.infogettickets{
    align-items: center;
    padding: 20px;
    font-size: 20px;
}

.getbtn {
    background-color: #ffffff;
    color:#000000;
    border-radius: 5px;
    padding: 15px;
    width: 100%; 
    font-size: 16px;
}

.getbtn1 {
    color: #ffffff;
    background-color: #000000;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    height: 60px;
    font-size: 22px;
}

.sp{
    padding: 10px;
}

.gettickets{
    background-color: rgba(117, 117, 117, 0.83);
    border-radius: 10px;
    margin: 25px;

}
.titlegettickets{
        background-color: rgba(255, 255, 255, 0.08);
        color: #ffffff;
        border-radius: 5px;
        padding: 20px;
        color: #ffffff;
}

.ticket1{
    display: flex;
    flex-direction: row;
    background-color: rgba(48, 50, 55, 1);
    justify-content: space-between;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
}

.ticket2,
.ticket3 {
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.08);
    justify-content: space-between;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
}

.incredecre{
    display: flex;
    flex-direction: row;
    
}

.h1 {
    padding: 20px;
    font-size: 24px;
    font-weight: 700;
}

.join{
    display:flex;
    flex-direction: row;
    margin: 20px;
}

.desc {
    margin: 20px;
    font-size: 16px;
    font-weight: 400;
}

.read{
    color: rgba(55, 111, 255, 1);
}

.sharebtn{
    color: rgba(55, 111, 255, 1);
    border-radius: 10px;
    border : 2px solid rgba(48, 50, 55, 0.2);
    padding: 10px;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    font-size: 22px;
    text-align: center;
    justify-content: center;
    margin-right: 10px;
}

.btmbtns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3),
        0px 6px 6px rgba(0, 0, 0, 0.2);
}

.req{
    color: #F2CA77;
    font-size: 10px;
    border-radius: 10px;
    padding: 5px;
    margin-left: 10px;
    border: solid #F2CA77;
    background-color: rgba(214, 151, 18, 0.133)
}

.coltc3 {
    display: flex;
    flex-direction: row;
}

.coltc1 {
    display: flex;
    flex-direction: row;
}

.left {
    color: rgba(255, 255, 255, 0.48);;
    font-size: 10px;
    border-radius: 10px;
    padding: 5px;
    width: 35px;
    margin-left: 10px;
    border: solid rgba(255, 255, 255, 0.48);
    background-color: rgba(255, 255, 255, 0.08)
}
